{% extends "layout.html.twig" %}

{% set section="index" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bienvenue sur les outils VEAF</h1>
    </div>
{% endblock content %}
