{% extends "layout.html.twig" %}

{% set section="kneeboard" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Kneeboard</h1>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
            <ul>
                <li><a href="/kneeboard/frequencies">frequencies</a> - <a href="/kneeboard/frequencies/save" class="btn btn-sm btn-success"><i class="fas fa-save"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock content %}
